.slider1-title {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.25rem;
  width: 80%;
  max-width: 90%;
}

.slider1-schedule,
.slider1-learn {
  position: absolute;
  top: 75%;
  padding: 1rem 2rem;
  background: rgba(218, 41, 28, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 1.25rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider1-schedule {
  left: 15%;
}

.slider1-learn {
  right: 15%;
}

.slider1-schedule:hover,
.slider1-learn:hover {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: rgb(202, 42, 31);
  transform: scale(1.1);
}

@media (min-width: 1920px) {
  #slider {
    max-width: 1600px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: 2.25rem;
  padding: 1.25rem 1.75rem
}
}

@media (min-width: 1440px) {
  #slider {
    max-width: 1400px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: 2.25rem;
  padding: 1.25rem 1.75rem
}

.slider1-schedule {
  left: 10%;
  transform: translateY(-25%);
}

.slider1-learn {
  right: 10%;
  transform: translateY(-25%);
}

.slider1-title{
  font-size: 4rem !important;
}
}

@media (min-width: 768px) {
  #slider {
    max-width: 1400px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: 1.75rem;
  padding: 1.25rem 1.75rem;
  
}

.slider1-schedule {
  left: 7%;
  transform: translateY(-30%);
}

.slider1-learn {
  right: 7%;
  transform: translateY(-30%);
}

.slider1-title{
  font-size: 3rem !important;
}
}

@media (min-width: 768px) {
  #slider {
    max-width: 1400px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
  
}

.slider1-schedule {
  left: 7%;
  transform: translateY(-40%);
}

.slider1-learn {
  transform: translateY(-40%);
  right: 7%;
}

.slider1-title{
  font-size: 2.25rem !important;
}
}

@media (min-width: 480px) {
  #slider {
    max-width: 1400px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
  
}

.slider1-schedule {
  left: 7%;
  transform: translateY(-40%);
}

.slider1-learn {
  transform: translateY(-40%);
  right: 7%;
}

.slider1-title{
  font-size: 2.25rem !important;
}
}

@media (min-width: 0px) {
  #slider {
    max-width: 1400px;
    margin: 23px auto;
  }

.slider1-schedule,
.slider1-learn{
  font-size: .5rem;
  padding: .25rem .75rem;
  
}

.slider1-schedule {
  left: 5%;
  transform: translateY(-50%);
}

.slider1-learn {
  transform: translateY(-50%);
  right: 5%;
}

.slider1-title{
  font-size: 1rem !important;
}

.nav{
  padding: 0rem .1rem;
  font-size:1rem;
}

.pojo-a11y-toolbar-toggle{
  max-width: 1% !important;
}
}