
.slider7-main-1,
.slider7-main-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;
  width: 80%;
  max-width: 90%;
}

.slider7-main-1 {
  bottom: 32%;
  font-size: 2rem;
}

.slider7-main-2 {
  bottom: 25%;
  font-size: 1.5rem;
}

.slider7-lower-left,
.slider7-lower-right {
  position: absolute;
  bottom: 10%;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-radius: 7px;
  border: 1px solid #e8b385;
  padding: 30px;
  color: #453c3c;
  font-weight: bolder;
}

.slider7-lower-left {
  left: 5%;
}

.slider7-lower-right {
  right: 5%;
}

.slider7-schedule {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translateX(-50%);
  padding: 1.5rem 1.75rem;
  background: rgba(218, 41, 28, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1.75rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider7-schedule:hover {
  background: #fff;
  transform: scale(1.05);
  font-weight: bolder;
  text-decoration: none;
}
