/* slider6-480.css */
@media (min-width: 480px) {
  .slider6-availability {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }
  .slider6-title {
    font-size: 0.75rem !important;
    padding: 1rem 1.75rem;
  }
}
