/* slider6.css */
/* button */
.slider6-availability {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: .25rem .5rem;
  background: rgba(218, 41, 28, 0.8);
  color: #fff;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: .5rem;
  transition: background 0.3s ease, transform 0.3s ease;
}
.slider6-availability:hover {
  background: #fff;
  transform: scale(1.02);
  font-weight: bolder;
  text-decoration: none;
}

/* title */
.slider6-title {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: .5rem !important;
  font-weight: bolder;
  max-width: 40%;
}
