/* slider6-768.css */
@media (min-width: 768px) {
  .slider6-availability {
    font-size: 1.75rem;
    padding: 0.75rem 1.25rem;
    top: 3%;
    left: 1%;
  }
  .slider6-title {
    font-size: 1.75rem !important;
    padding: 0.75rem 1.25rem;
    bottom: 3%;
    left: 1%;
    max-width: 75%;
  }
}
