/* slider3-480.css */
@media (min-width: 480px) {
  .slider3-header {
    font-size: 2rem;
  }
  .slider3-subheader {
    font-size: 1.25rem;
  }
  .slider3-list-container {
    width: 25%;
    top: 12%;
  }
  .slider3-list {
    font-size: 1rem;
  }
  .slider3-book {
    font-size: 1.75rem;
    padding: 1rem 2rem;
    top: 12%;
    right: 12%;
  }
}
