/* slider3-480.css */
@media (min-width: 480px) {
  .slider3-header {
    font-size: 0.75rem !important;
  }
  .slider3-subheader {
    font-size: 0.625rem !important;
  }
  .slider3-list-container {
    width: 25%;
  }
  .slider3-list {
    font-size: 0.625rem !important;
  }
  .slider3-book {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
