/* slider3-base.css */
.slider3-header,
.slider3-subheader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;
}

.slider3-header {
  bottom: 15%;
  width: 90%;
  max-width: 90%;
  font-size: .75rem !important;
}

.slider3-subheader {
  bottom: 3%;
  width: 80%;
  max-width: 90%;
  font-size: .575rem !important;
}

.slider3-list-container {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 33%;
  padding-left: 1.5rem;
  border-radius: 12px;
  background-color: rgba(30, 30, 30, .5);
  box-shadow: 0 0 0 1px grey;
  border: 1px solid #e8b385;
  color: #fff;
  font-weight: bolder;
  
}

.slider3-list {
  margin: 0;
  padding: .325rem;
  list-style: disc;
  font-size: .625rem !important;
}

.slider3-list li {
  margin-bottom: 1rem;
}
.slider3-list li:last-child {
  margin-bottom: 0;
}

.slider3-book {
  position: absolute;
  top: 13%;
  right: 12%;
  padding: 0.25rem .5rem;
  background: var(--chi-blue);
  color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  font-size: .875rem;
  transition: background 0.3s ease, transform 0.3s ease;
}
.slider3-book:hover {
  transform: scale(1.05);
  background-color: #4b5b62;
  text-decoration: none;
  color: #fff
}
