/* slider3-768.css */
@media (min-width: 768px) {
  .slider3-header {
    font-size: 2.25rem;
  }
  .slider3-subheader {
    font-size: 1.5rem;
  }
  .slider3-list-container {
    width: 20%;
    top: 10%;
  }
  .slider3-book {
    font-size: 2rem;
    padding: 1.25rem 2.25rem;
  }
}
