/* slider3-1920.css */
@media (min-width: 1920px) {
  #slider {
    max-width: 1600px;
  }
  .slider3-header {
    font-size: 5rem !important;
    bottom: 15%;
  }
  .slider3-subheader {
    font-size: 3.75rem !important;
    bottom: 8%;
  }
  .slider3-list-container {
    width: 27%;
    left: 5%;
    top: 8%;
    padding: 2rem;
  }
  .slider3-list li {
    font-size: 3rem !important;
    margin-bottom: 2rem;
  }
  .slider3-book {
    font-size: 4.5rem;
    padding: 2rem 5rem;
  }
}
