/* slider3-1440.css */
@media (min-width: 1440px) {
  .slider3-header {
    font-size: 1.5rem !important;
  }
  .slider3-subheader {
    font-size: 1.25rem !important;
  }
  .slider3-list-container {
    width: 18%;
  }
  .slider3-list {
    font-size: 1rem !important;
  }
  .slider3-book {
    font-size: 1.75rem;
    padding: 1.25rem 1.75rem;
  }
}
