/* slider3-1440.css */
@media (min-width: 1440px) {
  .slider3-header {
    font-size: 4rem !important;
    bottom: 15%;
  }
  .slider3-subheader {
    font-size: 3rem !important;
    bottom: 7%;
  }
  .slider3-list-container {
    width: 25%;
    left: 5%;
    top: 8%;
    padding: 1rem;
  }
  .slider3-list li {
    font-size: 2.25rem !important;
    margin-left: 2rem;  
    margin-bottom: 1.75rem;
  }
  .slider3-book {
    font-size: 3.25rem;
    padding: 1.25rem 1.75rem;
  }
}
