
/* slider-1440.css */
@media (min-width: 1440px) {
  .nav {
    font-size: 3rem !important;
    padding: 0.1rem 0.2rem;
  }
  .nav.prev {
    left: .8rem;
  }
  .nav.next {
    right: .8rem;
  }
  .dot {
    font-size: 5rem;
    margin: 0 4.5rem;
  }
}