.nav {
  font-size: 1rem !important;         /* increase arrow size */
  padding: .25rem .85rem !important;        /* more clickable area */
}

.nav.prev {
  left: .5rem;              /* move in from the left edge */
}

.nav.next {
  right: .5rem;             /* move in from the right edge */
}

/* DOTS */
/* size & spacing of the stars */
.dot {
  font-size: 3rem;         /* make each dot bigger */
  margin: 0 1.5rem;        /* widen gap between dots */
}

