/* slider7-1440.css */
@media (min-width: 1440px) {
  .slider7-main-1 {
    font-size: 1.5rem !important;
    bottom: 22%;
  }
  .slider7-main-2 {
    font-size: 1.5rem !important;
    bottom: 9%;
  }
  .slider7-lower-left,
  .slider7-lower-right {
    font-size: 1.25rem;
    padding: 1.25rem;
    bottom: 4%;
    left: 8%;
    right: 8%;
  }
  .slider7-schedule {
    font-size: 1.5rem;
    padding: 1.25rem 2.5rem;
    top: 7%;
    left: 12%;
    transform: translateX(-50%);
  }
}
