/* slider7-768.css */
@media (min-width: 768px) {
  .slider7-main-1,
  .slider7-main-2 {
    padding: 0.75rem 1rem;
  }

  .slider7-main-1 {
    font-size: 2rem !important;
    bottom: 23%;
  }
  .slider7-main-2 {
    font-size: 1.75rem !important;
    bottom: 14%;
  }

.slider7-lower-left,
.slider7-lower-right
{
     font-size: 1.3rem;
      padding: .75rem !important;
}

  .slider7-lower-left {
 
    bottom: 5%;
    left: 2%;
  }
  .slider7-lower-right {
 
    bottom: 3%;
    right: 2%;
  }

  .slider7-schedule {
    font-size: 1.875rem;
    padding: 0.75rem 1.25rem;
    top: 5%;
    left: 1.5%;
  }
}
