/* slider7-1920.css */
@media (min-width: 1920px) {
  .slider7-main-1,
  .slider7-main-2 {
    padding: 0.875rem 1.25rem;
  }

  .slider7-main-1 {
    font-size: 5rem !important;
    bottom: 24%;
  }
  .slider7-main-2 {
    font-size: 3.75rem !important;
    bottom: 17%;
  }

.slider7-lower-left,
.slider7-lower-right
{
     font-size: 3rem;
      padding: 1.25rem !important;
}

  .slider7-lower-left {
    
    bottom: 4.5%;
    left: 1%;
  }
  .slider7-lower-right {
    
    bottom: 3%;
    right: 1%;
  }

  .slider7-schedule {
    font-size: 4rem;
    padding: 0.75rem 1.25rem;
    top: 5%;
    left: 2%;
  }
}