/* slider7-1024.css */
@media (min-width: 1024px) {
  .slider7-main-1,
  .slider7-main-2 {
    padding: 0.75rem 1rem;
  }

  .slider7-main-1 {
    font-size: 3rem !important;
    bottom: 23%;
  }
  .slider7-main-2 {
    font-size: 2.5rem !important;
    bottom: 15%;
  }

.slider7-lower-left,
.slider7-lower-right
{
     font-size: 1.75rem;
      padding: .75rem !important;
}

  .slider7-lower-left {
 
    bottom: 4.75%;
    left: 2%;
  }
  .slider7-lower-right {
 
    bottom: 3%;
    right: 2%;
  }

  .slider7-schedule {
    font-size: 2.5rem;
    padding: 0.75rem 1.25rem;
    top: 5%;
    left: 2%;
  }
}