/* slider7-768.css */
@media (min-width: 768px) {
  .slider7-main-1,
  .slider7-main-2 {
    font-size: 1rem !important;
    padding: 1rem 1.25rem;
  }
  .slider7-lower-left,
  .slider7-lower-right {
    font-size: 0.75rem;
    padding: 1rem 1.25rem;
  }
  .slider7-schedule {
    font-size: 1.5rem;
    padding: .5rem .75rem;
    margin-left: 2%;
  }
}
