/* slider7-768.css */
@media (min-width: 768px) {
  .slider7-main-1 {
    font-size: 1rem !important;
    bottom: 24%;
  }
  .slider7-main-2 {
    font-size: 1rem !important;
    bottom: 11%;
  }
  .slider7-lower-left,
  .slider7-lower-right {
    font-size: 0.75rem;
    padding: 1rem;
    bottom: 3%;
    left: 5%;
    right: 5%;
  }
  .slider7-schedule {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    top: 7%;
    left: 12%;
    transform: translateX(-50%);
  }
}
