/* slider7-1920.css */
@media (min-width: 1920px) {
  #slider {
    max-width: 1600px;
  }
  .slider7-main-1,
  .slider7-main-2 {
    font-size: 1.75rem !important;
    padding: 1.75rem 2rem;
  }
  .slider7-lower-left,
  .slider7-lower-right {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .slider7-schedule {
    font-size: 4rem;
    padding: 2rem 2.5rem;
  }
}
