/* slider5.css */

/* Upper buttons */
.slider5-upper-btn {
  position: absolute;
  top: 3%;
  padding: 0.25rem .5rem;
  background: rgb(255 255 255);
  color: #595050;
  border-radius: 13px;
  border: 1px solid black;
  font-weight: bold;
  font-size: .25rem;

  transition: background 0.3s ease, transform 0.3s ease;
}

.slider5-upper-left {
  left: 1%;
}

.slider5-upper-right {
  right: 1%;
}

.slider5-upper-btn:hover {
  background: var(--chi-blue);
  transform: scale(1.02);
  text-decoration: none;
  color: #ffffff;
}

/* Bottom “Learn” links */
.slider5-link {
  position: absolute;
  bottom: 15%;
  padding: 0.25rem .5rem;
  background: rgb(255 255 255);
  color: #595050;
  border-radius: 13px;
  border: 1px solid black;
  font-weight: bold;
  font-size: .25rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider5-lower-left {
  left: 2%;
  margin-bottom: 6%;
}

.slider5-lower-right {
  right: 2%;
  margin-bottom: 6%;
}

.slider5-link:hover {
  background: var(--chi-blue);
  transform: scale(1.01);
  text-decoration: none;
  color: #ffffff;
}

/* Bottom title */
.slider5-header {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.5rem .5rem;
  border-radius: 0.25rem;
  font-weight: bolder;
  font-size: .75rem !important;
  width: 65%;
  max-width: 90%;
  text-align: center;
}
