/* slider5-1920.css */
@media (min-width: 1920px) {
  #slider {
    max-width: 1600px;
  }
  .slider5-upper-btn,
  .slider5-link {
    font-size: 1.5rem;
    padding: 1.5rem 2.25rem;
  }
  .slider5-header {
    font-size: 2rem !important;
    padding: 1.75rem 2.25rem;
    bottom: 5%;
  }
}
