/* slider5-480.css */
@media (min-width: 480px) {
  .slider5-upper-btn,
  .slider5-lower-left,
  .slider5-lower-right,
  .slider5-link {
    font-size: .885rem;
    padding: 0.25rem .75rem;
  }
  .slider5-upper-left {
    left: 1%;
    top: 2%;
  }
  .slider5-upper-right {
    right: 1%;
    top: 2%;
  }
  .slider5-lower-left {
    left: 1%;
    bottom: 12%;
  }
  .slider5-lower-right {
    right: 1%;
    bottom: 12%;
  }
  .slider5-header {
    font-size: 1.5rem !important;
    padding: 0.75rem 1.25rem;
    bottom: 6%;
  }
}
