/* Tablets & small desktops */
@media (min-width: 1024px) {
  .slider1-title {
    font-size: 2.75rem !important;
  }
  .slider1-schedule,
  .slider1-learn {
    font-size: 1.75rem;
    padding: 1rem 1.25rem;
    transform: translateY(-30%);
  }
  .slider1-schedule {
    left: 5%;
  }
  .slider1-learn {
    right: 5%;
  }
}