/* Desktop monitors */
@media (min-width: 1440px) {
  .slider1-title {
    font-size: 3.5rem !important;
    padding: .75rem;
  }
  .slider1-schedule,
  .slider1-learn {
    font-size: 2.25rem;
    padding: 1.25rem 1.75rem;
    transform: translateY(-25%);
  }
  .slider1-schedule {
    left: 8%;
  }
  .slider1-learn {
    right: 8%;
  }
}