/* Tablets & small desktops */
@media (min-width: 768px) {
  .slider1-title {
    font-size: 2.25rem !important;
  }
  .slider1-schedule,
  .slider1-learn {
    font-size: 1.25rem;
    padding: 1.25rem 1.75rem;
    transform: translateY(-40%);
  }
  .slider1-schedule {
    left: 7%;
  }
  .slider1-learn {
    right: 7%;
  }
}