/* slider8.css */

/* Header */
.slider8-header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.325rem .75rem;
  border-radius: 0.25rem;
  font-size: 1rem !important;
  font-weight: bolder;
  text-align: center;
  width: 975%;
}

/* Consult button lower left */
.slider8-consult {
  position: absolute;
  top: 22%;
  left: 10%;
  padding: .25rem .5rem;
  background: rgba(218, 41, 28, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bolder;
  font-size: .875rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider8-consult:hover {
  background: #fff;
  transform: scale(1.01);
  font-weight: bolder;
  text-decoration: none;
}

/* Group list lower right */
.slider8-list-container {
  position: absolute;
  top: 19%;
  right: 12%;
  border-radius: 0.25rem;
  background-color: rgba(243, 225, 195, 0.75);
  border-radius: 7px;
  border: 1px solid #e8b385;
  color: #fff;
  font-weight: bolder;
  padding: .25rem .5rem !important;
  
}

.slider8-list {
  color: #333;
  font-size: .65rem;
  margin: 0rem !important;
}

.slider8-list li {
  list-style: none;
  line-height: 1.55;
}

.slider8-list li:last-child {
  margin-bottom: 0;
}
