@media (min-width: 1440px) {
  .slider8-header {
    font-size: 3rem !important;
    padding: 1.75rem 3.5rem;
  }

  .slider8-consult {
    font-size: 2.5rem;
    padding: 1.25rem 1.75rem;
    top: 31%;
    left: 6%;
  }
  .slider8-list-container {
    top: 23%;
  }
  .slider8-list {
    font-size: 2.25rem;
    padding: 1.25rem 1.75rem;
  }
}