@media (min-width: 1920px) {
  .slider8-header {
    font-size: 4rem !important;
    padding: 1.75rem 3.5rem;
  }

  .slider8-consult {
    font-size: 3.5rem;
    padding: 1.25rem 1.75rem;
    top: 31%;
    left: 5%;
  }
  .slider8-list-container {
    top: 22%;
  }
  .slider8-list {
    font-size: 3.25rem;
    padding: 1.25rem 1.75rem;
  }
}