/* slider8-768.css */
@media (min-width: 768px) {
  .slider8-header {
    font-size: 2rem !important;
    padding: 1rem 2rem;
  }
  .slider8-consult {
    font-size: 1.75rem;
    padding: 0.75rem 1.25rem;
    top: 28%;
    left: 7%;
  }
.slider8-list-container{
      top: 21%;
  right: 7%;
}

  .slider8-list {
    font-size: 1.5rem;
    padding: 0.75rem 1.25rem;
  }
}
