@media (min-width: 1440px) {
  .slider8-header {
    font-size: 3.5rem !important;
    padding: 1.25rem 2.75rem;
  }
  .slider8-consult {
    font-size: 2.75rem;
    padding: 0.75rem 1.25rem;
    top: 28%;
    left: 6%;
  }
.slider8-list-container{
      top: 21%;
      right: 7%;
}

  .slider8-list {
    font-size: 2.5rem;
    padding: 0.75rem 1.25rem;
  }
}
