/* slider8-480.css */
@media (min-width: 480px) {
  .slider8-header {
    max-width: 90%;
    font-size: 1.325rem !important;
    padding: 0.25rem 1rem;
    top: 6%;
  }
  .slider8-consult {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    top: 26%;
    left: 8%;
  }
  .slider8-list-container {
    top: 19%;
    right: 9%;
    padding: 0.5rem 1rem !important;
  }
  .slider8-list {
    font-size: 1rem;
  }
}
