/* slider8-1024.css */
@media (min-width: 1024px) {
  .slider8-header {
    font-size: 3rem !important;
    padding: 1rem 2.5rem;
  }
  .slider8-consult {
    font-size: 2.5rem;
    padding: 0.75rem 1.25rem;
    top: 28%;
    left: 7%;
  }
.slider8-list-container{
      top: 21%;
      right: 8%;
}

  .slider8-list {
    font-size: 2rem;
    padding: 0.75rem 1.25rem;
  }
}
