/* slider8.css */

/* Header */
.slider8-header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  width: 80%;
  max-width: 90%;
}

/* Consult button lower left */
.slider8-consult {
  position: absolute;
  top: 25%;
  left: 10%;
  padding: 1.25rem 1.5rem;
  background: rgba(218, 41, 28, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bolder;
  font-size: 1.5rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider8-consult:hover {
  background: #fff;
  transform: scale(1.05);
  font-weight: bolder;
  text-decoration: none;
}

/* Group list lower right */
.slider8-list-container {
  position: absolute;
  top: 15%;
  right: 4%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(243, 225, 195, 0.75);
  border-radius: 7px;
  border: 1px solid #e8b385;
  padding: 30px;
  color: #fff;
  font-weight: bolder;
}

.slider8-list {
  list-style: disc;
  margin: 0;
  padding-left: 1.25rem;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.4;
}

.slider8-list li {
  margin-bottom: 0.5rem;
}
