/* slider8-480.css */
@media (min-width: 480px) {
  .slider8-header {
    font-size: 1rem !important;
    padding: 1rem 2rem;
  }
  .slider8-consult {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    top: 35%;
    left: 10%;
  }
  .slider8-list {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }
}
