/* slider2-1440.css */
@media (min-width: 1440px) {
  .slider2-book,
  .slider2-team {
    font-size: 2.25rem;
    padding: 1.25rem 3.5rem;
  }

  .slider2-book {
    left: 6%;
  }

  .slider2-team {
    right: 6%;
  }
}
